body {margin:0;}
.navbar {
  overflow: hidden;
  background-color: rgb(233, 220, 220);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}










.one{
  color: blue;
}

.hee{
  color: aqua;
}

/* Solid border */
hr.solid {
  border-top: 3px solid black;
}
.header {
  overflow: hidden;
  background-color: #f1dddd;
  padding: 20px 10px;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #0a0909;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 20px;
    
  }
  
  .sidebar a {
    display: block;
    color:white;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #49bed3;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: rgb(43, 131, 153);
    color: white;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }




